.search{
    width: 320px;
    height: 26px;
    padding:20px;
        font-size: 20px;
        outline: none;
        border: 4px solid rgb(116, 17, 182);
        border-radius: 8px;
}
.form {
    padding:40px;
}

.search_btn{

padding: 22px;
margin-left: 30px;
border-radius: 10px;
background-color: rgb(122, 3, 232);
    font-size: 17px;
    margin-right: 5px;
    margin-left: 5px;
    color: aliceblue;
    text-decoration: none;
}

